<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Devise Sample Blog</h1>
    <h2>
    This is the homepage for the
    <a href="https://github.com/plataformatec/devise">Devise Sample Blog</a>
    </h2>

    <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>

  <%= link_to image_tag('devise.png', alt: "Devise Logo"), "https://github.com/plataformatec/devise" %>
<% end %>
